*,
*::before,
*::after {
  /* outline: 1px solid red; */

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  a{
    text-decoration: none;
  }
  
}
:root {
  --button-width: 305px;
  --button-height: 110px;
  --button-border-radius: 20px;
  --main-container-width: calc(100% - 40px);
  --main-container-height: 673px;
  --main-container-bradius: 50px;
  --contact-wxh-after: 45px;
  --contact-bradius: 15px;
  --font-thin: 100;
  --font-light: 300;
  --font-regular: normal;
  --font-bold: 600;
  --font-black: 900;
  --font-h4: 26px;
  --main-text-color: #a3afbf;
  --button-color: #222a35;
}
.gap{
gap:30px
}

.gap2{
gap:15px
}
.color{
  color: #a3afbf;
}
.color2{
  color: #ffffff;
}
section {
  margin-top: 50px;
}
body {
  background: #08101b;
  height: 300vh;
}

/*Main Page css end*/
.top-container {
  position: absolute;
  width: var(--main-container-width);
  height: var(--main-container-height);
  top: 0;
  margin-inline: 20px;
  background: linear-gradient(transparent 30%, #040c2c);
  border: 1px solid #ffffff;
  opacity: 50%;
  border-radius: var(--main-container-bradius);
  backdrop-filter: blur(50px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 100%);
  z-index: -1;
}
.top-container::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 100%;
  height: 158px;
  background-image: url('data:image/svg+xml,<svg width="993" height="159" viewBox="0 0 993 159" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 158V159H993V0H992C992 19.8823 975.882 36 956 36H44.3036C28.8396 36 16.3036 48.536 16.3036 64V144C16.3036 151.732 10.0356 158 2.30358 158H1Z" fill="%2308101B"/><g filter="url(%23filter0_f_797_9841)"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 156.973L1.48489 156.99C8.85966 157.249 14.9708 151.324 14.9406 143.945L14.6148 64.1185C14.5493 48.0562 27.552 35.0002 43.6145 35.0002H956C973.284 35.0002 987.642 22.4713 990.488 6H991.502C988.646 23.0263 973.838 36.0002 956 36.0002H43.6145C28.1059 36.0002 15.5515 48.6059 15.6148 64.1144L15.9406 143.941C15.9731 151.888 9.39188 158.268 1.44983 157.99L1 157.974V156.973Z" fill="url(%23paint0_linear_797_9841)" fill-opacity="0.66"/></g><defs><filter id="filter0_f_797_9841" x="0" y="5" width="992.502" height="153.999" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="0" result="effect1_foregroundBlur_797_9841"/></filter><linearGradient id="paint0_linear_797_9841" x1="-406.969" y1="-158.203" x2="989.503" y2="-158.203" gradientUnits="userSpaceOnUse"><stop stop-color="%23C2C9DD"/><stop offset="1" stop-color="%23DEE2ED"/></linearGradient></defs></svg>');
  background-position: right bottom;
  background-repeat: no-repeat;
}
.top-blur {
  position: absolute;
  width: calc(100% - 100px);
  height: 600px;
  top: 0;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1297.44" height="742.674" viewBox="0 0 1297.44 742.674"><defs><radialGradient id="radial-gradient" cx="0.5" cy="0.5" r="0.524" gradientTransform="matrix(-0.66, 0.752, -0.752, -0.66, 1.206, 0.454)" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="%23124868"/><stop offset="1" stop-color="%230e1047" stop-opacity="0"/></radialGradient></defs><path id="Path_3" data-name="Path 3" d="M-567.825-81.09H110.541c172.907-.486,154.622,0,318.273,0V227.093H-202.525c0,83.25-.51,104.846,0,132.4-82.216,0-85.061,4.23-365.3,0C-567.825,123.8-569.627,111.75-567.825-81.09Z" transform="translate(718.626 231.306)" fill="url(%23radial-gradient)"/></svg>');
  filter: blur(50px);
  z-index: -2;
  background-size: cover;
}
.main-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  text-align: center;
  width: calc(100% - 40px);
  height: 565px;
}
.main-page-text {
  margin-top: 20px;
  font-weight: var(--font-light);
  font-size: var(--font-h4);
  color: var(--main-text-color);
}
.name-logo {
  width: 45vw;
}

.logo {
  height: 20px;
}
.logo-svg {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 7rem;
  top: 2rem;
  mix-blend-mode: soft-light;
  cursor: pointer;
}
/*Navigation Page css end*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px 0 40px;
  color: #ffffff;
}

.right-nav {
  display: flex;
  gap: 20px;
}
.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  width: 185px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 5px 0px rgba(19, 24, 30, 1);
}
.container-ce {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-left: 20px;
  gap: 5px;
}

.container-cb {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ex-ar {
  transform: translateY(2px);
  animation: 2.66s cubic-bezier(0.33, 1, 0.68, 1) 0s infinite normal none
    running bounce;
}
.card-button {
  position: relative;
  display: flex;
  align-items: center;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  background: var(--button-color);
  cursor: pointer;
  .arrow{
    transition: all 500ms ease;
  }
  
}
.rtopnav-top {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: var(--font-black);
}
.rbottomnav-text {
  font-weight: var(--font-light);
}
.ab {
  position: relative;
  top: -22px;
  left: -55px;
}
.placeholder{
  width: var(--button-width);
  height: var(--button-height);
}
.contact {
  position: fixed;
  z-index: 1000;
  top: calc(var(--main-container-height) - 107px);
  right:20px;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  background-color: #222a357c;
  backdrop-filter: blur(20px);
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);

  h3 {
    font-size: 30px;
    font-weight: var(--font-light);
  }
  h6 {
    font-size: 35px;
    font-weight: var(--font-black);
  }
  justify-content: space-between;
  transition: all 500ms ease;
  cursor: pointer;
}

.contact::after {
  content: url(../../asset/Arrow@2x.png);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: var(--contact-wxh-after);
  height: var(--contact-wxh-after);
  background-image: radial-gradient(#0e1047 10%, #08101b);
  border-radius: var(--contact-bradius);
  transition: all 500ms ease;
}

/* This section is for hover*/
.card-button:hover {
  .arrow {
    transform: translateX(3px) translateY(-3px);
  }
}
.contact:hover::after {
  transform: translateX(3px) translateY(-3px);
 
}
 .contact:hover {
    background-color:#536c882d;
  }
/*This is the section for Animation*/

/*Thise if for the text animation part*/


.scroll-reveal {
  margin-left: 40px;
}
.sr-bottom{
  margin-top: 300px;
}
.text-anime{
  width: 70%;     
  line-height: 70px;
}
.scroll-reveal span {
  color: #a3afbf48;
  width: calc(100% - 70px);
  background-image: linear-gradient(90deg, #a3afbf, #a3afbf);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll-reveal;
  animation-timeline: view();
  animation-range: cover;

  h2,h1{
    display: inline; 
  }
  h1{
    font-weight: var(--font-black);
  }

}


.small-text{
  display: flex;
  gap: 10px;
  margin-top: 80px;
}
.little-text {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: var(--font-light);

}
.lt-wide{
  width: 650px;
  b{
      color:#0EB8B5;
  }

}
.lt-nornmal{
    width: 420px;
b{
  color: #f28e37;
}
}


@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
/*This if for the About Me Part*/
.my-image {
  width: 400px;
  height: 500px;
  border-radius: 70px;
  transform: perspective(300px) rotateX(4deg) rotateY(-7deg);
  border: 5px solid rgb(255, 255, 255);
  background-image: linear-gradient(
    rgba(212, 212, 212, 0.336),
    rgba(228, 228, 228, 0.452)
  );
  transition: 500ms ease-in-out;
  cursor: pointer;
}
.my-image:hover{
    transform: none;
}
.aboutme-right {
  display: flex;
  align-items: center;
}
.about-me {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.am-name{
    line-height: 4.5rem;
}
.left-text {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  white-space: nowrap;
  display: inline-block;
  h1 {
    font-weight: var(--font-black);
  }
  align-self: flex-end;
}
.right-text {
  width: 400px;
  h2 {
    font-weight: var(--font-black);
  }
  h3{
    font-weight: var(--font-thin);
    font-size: 90px;
  }
  p{
    margin: 30px 0 0 5px;
    font-weight: var(--font-light);
  }
}
/*Gradient Animation*/
.gradient-animation {
position: absolute;
top: 170px;
}
.circle {
  position: relative;
  width: 18rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #2b0909,
    #441410,
    #d03f25,
    #5c150d,
    #2b0307
  );
  background-size: 300%;
  filter: blur(25px);
  z-index: -10;
  animation: g-animation 35s infinite alternate;
}

.side-gradient {
  filter: blur(15px);
  position: absolute;
  transform: translate(-50%, -50%);
  transform-origin: left bottom;
}
.g1 {
  width: 20rem;
  top: 25%;
  left: 75%;
  animation: g-animation 25s ease-in-out;
  animation-iteration-count: infinite;
}

.g2 {
  width: 20rem;
  top: 20%;
  left: 80%;
  animation: g-animation2 25s ease-in-out;
  animation-iteration-count: infinite;
}
.g3 {
  width: 30rem;
  top: 0;
  left: 90%;
  animation: g-animation3 45s ease-in-out;
  animation-iteration-count: infinite;
}

/*Portrait Gallary Part*/
.gallary-section{
  margin-top: 300px;
}
.g-containner {
  position: relative;
  display: flex;
  max-width: 1440px;
  height: 100%;
  margin: 100px auto;
  flex-flow: row;

  justify-content: center;
}
.gallary {
  border-radius: 35px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.pg-left {
  height: 590px;
  width: 350px;
}
.pg-leftb{
  width: 350px;
  height: 405px;
}
.pg-right {
  width: 400px;
  height: 525px;
}
.g-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 500ms ease-in-out;
}
.gl-left {
  height: 350px;
  width: 590px;
}
.gl-right {
  width: 405px;
  height: 350px;
}

.gallary:hover {
  .g-image {
    transform: scale(1.1);
  }
  .image-text {
    opacity: 1;
  }
}

.image-text {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffffff23;
  backdrop-filter: blur(10px);
  padding: 10px 30px 10px 20px;
  border-radius: 25px 0px 0px 0px;
  z-index: 1;
  p {
    font-weight: var(--font-thin);
  }
  line-height: 20px;
  opacity: 0;
  transition: 700ms ease-in-out;
}

.rtop {
  align-self: flex-start;
  width: 300px;
  height: 100px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #ffffff21, #b8baff27);
  backdrop-filter: blur(25px);
  padding: 10px;
  border: 1px solid #08101b00;
  transition: 800ms ease;
}
.rtop:hover {
  border: 1px solid #ffffff;
  .arrow {
    transform: translateX(2px) translateY(-2px);
  }
}
.rtop-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.arrow {
  width: 20px;
  height: 20px;
}
.rbottom-text {
  font-weight: var(--font-regular);
}
.rtop-text {
  width: fit-content;
}
.rbottom-text p {
  font-size: 30px;
  font-weight: lighter;
}
.gallary-container-right {
  position: relative;
  display: flex;
  flex-flow: column;
}
.gcrp{
justify-content: center;
}
.gallary-container-left{
  display: flex;
  flex-direction: column;
}
/*Gradient Animation Green*/
.circle-green {
  position: relative;
  width: 18rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #09172b,
    #0f9757,
    #08293b,
    #13ac4e,
    #03302d
  );
  background-size: 300%;
  filter: blur(25px);
  z-index: -10;
  animation: g-animation 35s infinite alternate;
}

.side-gradient {
  filter: blur(15px);
  position: absolute;
  transform: translate(-50%, -50%);
  transform-origin: left bottom;
}
.gg1 {
  width: 20rem;
  top: -10%;
  left: 50%;
  animation: g-animation 25s ease;
  animation-iteration-count: infinite;
}

.gg2 {
  width: 15rem;
  top: -15%;
  left: 60%;
  animation: g-animation2 25s ease;
  animation-iteration-count: infinite;
}
.gg3 {
  width: 27rem;
  top: -12%;
  left: 55%;
  animation: g-animation3 45s ease;
  animation-iteration-count: infinite;
}
.gradient-fixed{
  position: relative;
  width: 50rem;
  top: -800px;
  left: 35%;
  transform: rotate(-35deg);
  
}

/*Gallary Landscape*/
.lbottom-text {
  width: 450px;
  align-self: flex-start;
  margin-left:20px;
  font-weight: var(--font-light) !important;
}
.lg-pos{
  top: -30px;
}

/*This Part is for the footer*/
footer {
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
  height: 700px;
  border-radius: 100px 100px 0px 0px;
  background-color: #ffffff00;
  outline: 3px solid #a3afbf;
  backdrop-filter: blur(20px) brightness(0.8);
  /* transform: translateY(90px); */
  overflow: hidden;
  p{
    font-weight: var(--font-light);
  }
  z-index: 1100;
}
footer::after {
  content: "";
  position: absolute;
  transform: translateX(900px) translateY(100px);
  border-radius: 50%;
  filter: blur(100px);
  width: 600px;
  height: 600px;
  background-image: radial-gradient(#1088cea8, #1088ce00 80%);
  z-index: 1213;
}
.f-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 100px 0 0px 100px;
}
.f-right h1 {
  font-size: 120px;
  margin: 0;
  font-weight: var(--font-black);
}
.f-right h4 {
  font-weight: var(--font-light);
}
.icons {
  display: flex;
  gap: 10px;
}
.icons img {
  width: 60px;
  height: 60px;
  transition: 500ms ease-in-out;
}
.icons img:hover {
  transform: scale(110%);
}
.map-containner {
  display: flex;
  /* margin-top: 30px; */
  transform: translateX(-35px);
}
.map {
  width: 400px;
}
.ltext {
  transform: translateX(-150px) translateY(-60px);
}
.f-left {
  align-self: flex-end;
  margin: 0 100px 50px 0;
  font-weight: var(--font-light);
}


/*Responsive Mode*/
@media screen and (min-width: 1600px) {
  :root {
    --main-container-height: 753px;
  }
  .main-page-content {
    height: 645px;
  }
}
@media screen and (min-width: 1800px) {
  :root {
    --main-container-height: 853px;
  }
  .main-page-content {
    height: 745px;
  }
  h2{
    font-size: 200px;
  }
}
