<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="about-me">
      <div class="aboutme-right">
        <div class="left-text"><h1>ABOUT ME</h1></div>
        <div class="my-image"></div>
      </div>
      <div class="right-text">
        
        <div class="am-name">
            <h1>Kaleb</h1>
            <h2>Tesfaye</h2>
        </div>
        <p>
          “As a designer, I weave pixels into dreams, crafting visual narratives
          that transcend time. And as a code poet, I breathe life into
          algorithms, scripting the symphony of ones and zeros. Together, we
          traverse the digital cosmos, shaping moments that echo across
          eternity.”
        </p>
      </div>
    </section>
  </body>
</html>
