<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="gallery-block">
      <div class="gallery-container">
        <div class="gallery">
          <div class="ltop"></div>
          <div class="lbottom"></div>
        </div>
        <div class="gallery">
          <div class="rtop">
            <div class="rtop-top">
              <h3 class="rtop-text">6 years of</h3>
              <img class="arrow" src="../../../asset/Arrow@2x.png" />
            </div>
            <div class="rbottom-text"><h5>GRAPHICS DESIGN</h5></div>
          </div>
          <div class="rbottom"></div>
        </div>
      </div>
    </div>
  </body>
</html>
