<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylep.css" />
    <title>Gallery</title>
  </head>
  <body>
    <div class="g-containner gap Portrait">
      <div class="gallary-container-left gap">
        <div class="gallary pg-left">
          <img class="g-image" src="../../../asset/unsplash.jpg" alt="" />
          <div class="image-text">
            <h3 class="color">Ract Js</h3>
            <p class="color">The best in the busines</p>
          </div>
        </div>
        <div class="gallary pg-leftb">
          <img class="g-image" src="../../../asset/unsplash.jpg" alt="" />
          <div class="image-text">
            <h3 class="color">Ract Js</h3>
            <p class="color">The best in the busines</p>
          </div>
        </div>
      </div>

      <div class="gallary-container-right gcrp gap">
        <div class="rtop color2">
          <div class="rtop-top">
            <h3 class="rtop-text">6 years of</h3>
            <img class="arrow" src="../../../asset/Arrow@2x.png" />
          </div>
          <div class="rbottom-text"><p>GRAPHICS DESIGN</p></div>
        </div>
        <div class="gallary pg-right">
          <img class="g-image" src="../../../asset/unsplash.jpg" alt="" />
          <div class="image-text">
            <h3 class="color">HTML,CSS & JS</h3>
            <p class="color">The best front end designes</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
