*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #efefef;
  outline: 1px solid #770707;
}
body {
  background-color: #08101b;
}
.gallery-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryp {
  max-width: 620px;
  text-align: center;
  padding: 1rem 0 10rem 0;
}
.gallery-container {
  display: flex;
  max-width: 1440px;
  height: 100%;
  margin: 0px auto;
  flex-flow: row;
  gap: 30px;
  justify-content: center;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.ltop,
.lbottom,
.rbottom {
  width: 350px;
  background-color: rgb(11, 66, 59);
  border-radius: 30px;
  position: relative;
}
.ltop::after,
.rbottom::after,
.lbottom::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: #ffffff71;
  backdrop-filter: blur(10px);
  border-radius: 30px 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 1s ease-in-out;
}


.ltop:hover::after,
.lbottom:hover::after,
.rbottom:hover::after {
  opacity: 1;
}

.ltop {
  height: 500px;
}
.lbottom {
  height: 350px;
}
.rtop {
  align-self: flex-start;
  width: 350px;
  height: 125px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #a1baff80, #0e104780);
  backdrop-filter: blur(15px);
  padding: 10px;
  transition: 500ms ease-in-out;
}
.rtop:hover {
  outline: 1px solid #ffffff;
  .arrow{
    transform: translateX(2px) translateY(-2px);
  }

}
.rbottom {
  height: 450px;
}
.rtop-top{
  display: flex;
  align-items: center;
  gap: 10px;
}
.arrow{
  width: 20px;
  height: 20px;
}
.rtop-text{
  width:fit-content;
  font-size: 30px;
}
.rbottom-text h5{
  font-size: 30px;
  font-weight:lighter;
}

