<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="gradient-animation">
      <div class="circle-green"></div>
      <img class="gradient-fixed" src="gradient green.png" alt="" />
      <img class="side-gradient gg1" src="gradient green.png" alt="" />
      <img class="side-gradient gg2" src="gradient green.png" alt="" />
      <img class="side-gradient gg3" src="gradient green.png" alt="" />
    </div>

  </body>
</html>
