*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}
body {
  background-color: #08101B;
  height: 200vh;
}
.glass {
  display: flex;
  position: relative;
  width: 90%;
  height: 90vh;
  margin-inline: auto;
  backdrop-filter: blur(50px);
}
.circle {
  position: absolute;
  width: 18rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #09172b,
    #0f8397,
    #08293b,
    #13acac,
    #03302d
  );
  background-size: 300%;
  filter: blur(25px);
  z-index: -10;
  animation: g-animation 35s infinite alternate;
}
.circle::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2.5rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #092b1e,
    #041410,
    #1697ec,
    #1469ca
  );
  z-index: 1000;
}
.side-gradient {
  filter: blur(15px);
  position: absolute;
  transform: translate(-50%, -50%);
  transform-origin: left bottom;
}
.g1 {
  width: 20rem;
  top: 30%;
  left: 55%;
  animation: g-animation 25s ease-in-out;
  animation-iteration-count: infinite;
}

.g2 {
  width: 15rem;
  top: 30%;
  left: 60%;
  animation: g-animation2 25s ease-in-out;
  animation-iteration-count: infinite;
}
.g3 {
  width: 27rem;
  top: 25%;
  left: 55%;
  animation: g-animation3 45s ease-in-out;
  animation-iteration-count: infinite;
}
.gradient-fixed{
  position: absolute;
  width: 50rem;
  top: -35%;
  left: 35%;
  transform: rotate(-40deg);
}
@keyframes g-animation {
  0% {
    background-position: right;
    transform: rotate(0deg);
  }
  100% {
    background-position: left;
    transform: rotate(360deg);
  }
}
@keyframes g-animation2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes g-animation3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
