*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
body {
  background-color: #08101B;
  height: 200vh;
}
.gradient-animation {
  position: absolute;
  top: 170px;
  left: 800px;
  }
.circle-green {
  position: relative;
  width: 18rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #09172b,
    #0f8397,
    #08293b,
    #13acac,
    #03302d
  );
  background-size: 300%;
  filter: blur(25px);
  z-index: -10;
  animation: g-animation 35s infinite alternate;
}

.side-gradient {
  filter: blur(15px);
  position: absolute;
  transform: translate(-50%, -50%);
  transform-origin: left bottom;
}
.gg1 {
  width: 20rem;
  top: 30%;
  left: 55%;
  animation: g-animation 25s ease;
  animation-iteration-count: infinite;
}

.gg2 {
  width: 15rem;
  top: 30%;
  left: 60%;
  animation: g-animation2 25s ease;
  animation-iteration-count: infinite;
}
.gg3 {
  width: 27rem;
  top: 25%;
  left: 55%;
  animation: g-animation3 45s ease;
  animation-iteration-count: infinite;
}
.gradient-fixed{
  position: relative;
  width: 50rem;
  top: 80%;
  left: 35%;
  transform: rotate(-40deg);
}
/* @keyframes g-animation {
  0% {
    background-position: right;
    transform: rotate(0deg);
  }
  100% {
    background-position: left;
    transform: rotate(360deg);
  }
}
@keyframes g-animation2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes g-animation3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
