<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="textanim.css">
    <title>Document</title>
</head>
<body>

      <main>
        <section class="scroll-reveal">
          <h1>
            <span>Crafting dreams, composing code, my journey resonates across time.</span>
          </h1>
          <div class="small-text">
            <p class="little-text">Hey, I’m Kaleb Tesfaye, a graphics designer and software engineer from Ethiopia. Welcome to my portfolio site!<br>
              <b>Thanks for visiting<b></p>
          </div>
        </section>
      </main>
</body>
</html>