<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="textanim.css">
    <title>Document</title>
</head>
<body>

      <main>
        <section class="scroll-reveal">
          <div class="text-anime">
            <h1>
              <span>Crafting dreams, composing code, my journey resonates across time.</span>
            </h1>
          </div>
          <div class="small-text">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0  50" width="2" height="70">
                <rect x="0" y="0" rx="2" ry="2" width="3" height="70" fill="#08101b"/>
                <rect x="0" y="0" rx="2" ry="2" width="3" height="70" fill="#a3afbf" transform="scale(1,0)">
                    <animateTransform attributeName="transform" type="translate"
                                      values="0,-5;0,-2;0,50;0,250"
                                      keyTimes="0;.1;.7;1"
                                      dur="4s" repeatCount="indefinite"/>
                    <animateTransform attributeName="transform" type="scale"
                                      values="1,.1;1,.7;1,.8;1,.1"
                                      keyTimes="0;.4;.8;1"
                                      dur="4s" repeatCount="indefinite" additive="sum"/>
                </rect>
                        </svg>
            </div>
            <div>
              <p class="little-text">Hey, I’m Kaleb Tesfaye, a graphics designer and software engineer from Ethiopia. Welcome to my portfolio site!<br>
                <b>Thanks for visiting<b></p>
            </div>
          </div>
        </section>
      </main>
</body>
</html>