*,
*::before,
*::after {
  /* outline: 1px solid red; */

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
:root {
  --button-width: 305px;
  --button-height: 115px;
  --button-border-radius: 20px;
  --main-container-width: calc(100% - 40px);
  --main-container-height: 673px;
  --main-container-bradius: 50px;
  --contact-wxh-after: 45px;
  --contact-bradius: 15px;
  --font-thin: 100;
  --font-light: 300;
  --font-regular: normal;
  --font-bold: 600;
  --font-black: 900;
  --font-h4: 26px;
  --main-text-color: #a3afbf;
  --button-color: #222a35;
  --margin-left:40px;
}
/*Main Page css end*/
body {
  background: #08101b;
  display: flex;
  align-items: center;
  height: 280svh;
}
h1 {
  font-size: 80px;
}
.scroll-reveal {
  margin-left: 40px;
}
.text-anime{
  width: 70%;
}
.scroll-reveal span {
  color: #a3afbf48;
  background-image: linear-gradient(90deg, #a3afbf, #a3afbf);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll-reveal;
  animation-timeline: view();
  animation-range: cover;
}

.scroll-reveal span::after{
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #a3afbf34;
  backdrop-filter: blur(5px);
  outline: 2px solid #08101b;
  transform: translateX(-45px) translateY(68px);
}

.small-text{
  display: flex;
  gap: 10px;
  margin-top: 80px;
}
.little-text {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: var(--font-light);
  width: 420px;
}
.little-text > b {
  color: #f28e37;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
