<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style1.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navigation">
      <div class="scroll">
        <h3>Scroll to Explore</h3>
        <img class="arrow ex-ar" src="../../asset/Arrow.png" alt="" />
      </div>

      <div class="right-nav">
        <div class="rtop">
          <div class="rtop-top">
            <h6 class="rtop-text">DRIBBLE</h6>
            <img class="arrow" src="../../asset/Arrow.png" />
          </div>
          <div class="rbottom-text"><h5>GRAPHICS DESIGN</h5></div>
        </div>

        <div class="contact">
          <div class="contact-back">
            <h3>GET IN</h3>
            <h6>CONTACT.</h6>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(255, 255, 255, 0.19); -->