<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style1.css" />
    <title>Navigation</title>
  </head>
  <body>
    <div class="navigation">
      <div class="scroll">
        <div class="container-cb">
          <p>Scroll to Explore</p> 
          <svg class="ex-ar" xmlns="http://www.w3.org/2000/svg" width="18.385" height="18.385" viewBox="0 0 18.385 18.385">
            <path id="Union_6" data-name="Union 6" d="M.388,11.612a1.323,1.323,0,0,1,0-1.871l7.1-7.1H5.065A1.323,1.323,0,1,1,5.065,0h5.612a1.319,1.319,0,0,1,.5.1h0l.005,0A1.324,1.324,0,0,1,11.9.82l0,0,0,0a1.319,1.319,0,0,1,.1.494V6.935a1.323,1.323,0,1,1-2.646,0V4.517l-7.1,7.1a1.323,1.323,0,0,1-1.871,0Z" transform="translate(17.678 9.192) rotate(135)" fill="#fff" stroke="rgba(0,0,0,0)" stroke-miterlimit="10" stroke-width="1"/>
          </svg>          
        </div>
      </div>

      <div class="right-nav">
        <div class="card-button">
          <div class="container-ce">
            <div class="rtop-top">
              <p>Explore my universe</p>
            </div>
            <div class="rbottom-text">
              <p>Designs and software intertwine seamlessly.</p>
            </div>
          </div>
          <img class="arrow ab" src="../../asset/Arrow@05x.png" />
        </div>

        <div class="card-button">
          <div class="container-ce">
            <div class="rtop-top">
              <p>Explore my universe</p>
            </div>
            <div class="rbottom-text">
              <p>Designs and software intertwine seamlessly.</p>
            </div>
          </div>
          <img class="arrow ab" src="../../asset/Arrow@05x.png" />
        </div>

        <div class="contact">
          <div class="contact-back">
            <h3>GET IN</h3>
            <h6>CONTACT.</h6>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
