<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style1.css" />
    <title>Navigation</title>
  </head>
  <body>
    <div class="navigation">
      <div class="scroll">
        <div class="container-cb">
          <p>Scroll to Explore</p>
          <img class="arrow ex-ar" src="../../asset/Arrow@05x.png" alt="" />
        </div>
      </div>

      <div class="right-nav">
        <div class="card-button">
          <div class="container-ce">
            <div class="rtop-top">
              <p>Explore my universe</p>
            </div>
            <div class="rbottom-text">
              <p>Designs and software intertwine seamlessly.</p>
            </div>
          </div>
          <img class="arrow ab" src="../../asset/Arrow@05x.png" />
        </div>

        <div class="card-button">
          <div class="container-ce">
            <div class="rtop-top">
              <p>Explore my universe</p>
            </div>
            <div class="rbottom-text">
              <p>Designs and software intertwine seamlessly.</p>
            </div>
          </div>
          <img class="arrow ab" src="../../asset/Arrow@05x.png" />
        </div>

        <div class="contact">
          <div class="contact-back">
            <h3>GET IN</h3>
            <h6>CONTACT.</h6>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
