<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="gallery-block">
      <h1>A new Organizational Model</h1>
      <p class="galleryp">
        We launch Pixelmatters’ first product, Finta. It was an App for football
        fans. After more than a year of work, the iOS App went live in perfect
        timing: June 2016, just before Portugal won the European Championship.
      </p>
      <div class="gallery-container">
        <div class="gallery">
          <div class="ltop"></div>
          <div class="lbottom"></div>
        </div>
        <div class="gallery">
          <div class="rtop">
            <div class="rtop-top">
              <h3 class="rtop-text">6 years of</h3>
              <img class="arrow" src="../../asset/Arrow.png" />
            </div>
            <div class="rbottom-text"><h5>GRAPHICS DESIGN</h5></div>
          </div>
          <div class="rbottom"></div>
        </div>
      </div>
    </div>
  </body>
</html>
