<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Gallery</title>
  </head>
  <body>
    <div class="gallary">
      <img class="g-image" src="../../asset/unsplash.jpg" alt="" />
      <div class="image-text">
        <h3 class="color">Ract Js</h3>
        <p class="color">The best in the busines</p>
      </div>
    </div>
  </body>
</html>
