<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Gallery</title>
  </head>
  <body>
    <div class="g-containner landscape">
      <div class="gallary-container-left">
        <div class="gallary g-left">
          <img class="g-image" src="../../asset/unsplash.jpg" alt="" />
          <div class="image-text">
            <h3 class="color">Ract Js</h3>
            <p class="color">The best in the busines</p>
          </div>
        </div>
        <p class="lbottom-text color">
          As a front-end developer, I breathe life into pixels. I specialize in
          creating responsive, interactive web experiences that captivate users
          and bridge the gap between design and functionality.
        </p>
      </div>
      <div class="gallary-container-right">
        <div class="rtop color2">
          <div class="rtop-top">
            <h3 class="rtop-text">6 years of</h3>
            <img class="arrow" src="../../../asset/Arrow@2x.png" />
          </div>
          <div class="rbottom-text"><p>GRAPHICS DESIGN</p></div>
        </div>
        <div class="gallary g-right">
          <img class="g-image" src="../../asset/unsplash.jpg" alt="" />
          <div class="image-text">
            <h3 class="color">HTML,CSS & JS</h3>
            <p class="color">The best front end designes</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
