<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="Landscape-gallery-section">
      <div class="Landscape-gallery-container">
        <div class="gallery">
          <div class="ltop-landscape"><img src="../../../asset/unsplash.jpg" alt=""><div class="g-text"><h4>Ract Js</h4><p>The best in the busines</p></div></div>
          <p class="lbottom-text">
            As a front-end developer, I breathe life into pixels. I specialize
            in creating responsive, interactive web experiences that captivate
            users and bridge the gap between design and functionality.
          </p>
        </div>
        <div class="gallery">
          <div class="rtop">
            <div class="rtop-top">
              <h3 class="rtop-text">Experiences</h3>
              <img class="arrow" src="../../../asset/Arrow@1x.png" />
            </div>
            <div class="rbottom-text"><h5>Front-End Developer</h5></div>
          </div>
          <div class="lbottom"></div>
        </div>
      </div>
    </section>
  </body>
</html>
