<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <div class="f-right">
        <div><h1>Reach out</h1></div>
        <div class="icons">
          <a href=""><img src="../../asset/Icons/mail.png" alt="" /></a>
          <a href=""><img src="../../asset/Icons/linkedin.png" alt="" /></a>
          <a href=""><img src="../../asset/Icons/telegram.png" alt="" /></a>
          <a href=""><img src="../../asset/Icons/dribbble.png" alt="" /></a>
          <a href=""
            ><img src="../../asset/Icons/instagram logo_icon.png" alt=""
          /></a>
          <a href=""><img src="../../asset/Icons/C.png" alt="" /></a>
        </div>
        <div>
          <p>Phone no.</p>
          <h4>+251 972 665 987</h4>
        </div>
        <div class="map-containner">
          <img class="map" src="../../asset/Hawassa, Ethiopia.png" alt="" />
          <div class="ltext">
            <h2>Location.</h2>
            <p>Hawassa, Ethiopia.</p>
          </div>
        </div>
      </div>
      <div class="f-left">
        <div><p>Designed and <br>Developed by <br>Kaleb Tesfaye.</p></div>
      </div>
    </footer>
  </body>
</html>
