<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="glass">
      <div class="circle"></div>
      <img class="side-gradient g1" src="gradient.png" alt="" />
      <img class="side-gradient g2" src="gradient.png" alt="" />
      <img class="side-gradient g3" src="gradient.png" alt="" />
    </div>
    <div class="circle2"></div>
  </body>
</html>
